# Data Science Tools and Ecosystem

#  in this notebook, Data Science Tools and Ecosystem are summarized

# Objectives:
<ul> <li> List popular languages for Data Science </li>
    <li> List commonly used libraries for Data Science </li>
    <li> table popular Data Science Tools </li>
    <li> examples of evaluating arithmetic expressions in Python </li> </ul>

# Some of the popular languages that Data Scientists use are:
<ol> <li> Python </li>
    <li> R </li >
    <li> Julia </li> </ol>

# Some of the commonly used libraries used by Data Scientists include:
1. Numpy 
2. Pandas 
3. Scikit-learn

<table> <thead>
    <tr>
      <th>Data Science Tools</th>
    </tr>
  </thead>
   <tr>
      <td>Jupyter Notebooks</td>
    </tr>
    <tr>
      <td>Apache Zeppelin</td>
    </tr>
    <tr>
      <td>RStudio</td>
    </tr> </table>

 <h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#  This will convert 200 minutes to hours by diving by 60
minute = 200
hour = minute / 60
hour

3.3333333333333335

<h2> Author </h2>

Wajd Alsulaiman